
 <div class="container-fluid g-0">
  <!-- <h2 class="text-center">WELCOME TO ADMIN DASHBOARD</h2> -->
    <marquee  direction="right"   class="clr">
      <b style="font-size: large;font-size: large;">WELCOME TO OWNER DASHBOARD</b>
      </marquee>
  <h1>
   <!-- {{Username}} -->
  <!-- </h1>
   <button class="btn-primary" (click)="getdata()">GET DETAILS</button>
   
 </div>

-->
 <app-sidebar></app-sidebar> 
 
<!-- 
 <button class="btn-primary"  routerLink="/addownerprooerty">Add DETAILS</button>
  -->
