.example-spacer{
    flex: 1 1 auto;
} 

 
 .bdy{
    width: 100%;
/*    
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(/assets/tree.jpg);
    */
    background-color: #144358;
    background-position: center;
    background-size: cover;
    /* height: 109vh; */
}   
/* 
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
} */


.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    padding-top: 10px;
}



ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 12px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-weight: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

/* .org:hover{
    color: #ff7200;   
} */
  
