

<div class="container mt-5">
  <div class="row">
<div class="col-6">
    <div class="card image-container p-3">
<img [src]="sendingdata.propertyImage[selectedimageIndaex].url" class="pzoom">
    </div>
<div class="mt-2">
    <mat-grid-list cols="2" rowHeight="1:1" gutterSize="10">
        <mat-grid-tile *ngFor="let fileHandle of sendingdata.propertyImage; let i=index;" (click)="changeIndex(i)" style="border: 1px solid rgb(9, 8, 8);cursor: pointer;" >
            <img [src]="fileHandle.url" style="height: 100px;" >
        </mat-grid-tile>
      </mat-grid-list>
</div>

   
    
</div>
<div class="col-6">
  <div class="pro-info">
<div class="mt-3">
 <h2> Property Name: {{sendingdata.propertyName}}</h2>
</div>

<div class="mt-3">
   <b>Rent:</b>&nbsp;&nbsp;<b> {{sendingdata.pricerange}} </b>
  </div>
  <div class="mt-3">
    <b>City:</b>&nbsp;&nbsp;<b> {{sendingdata.city}} </b>
   </div>
   <div class="mt-3">
    <b>Location:</b>&nbsp;&nbsp;<b> {{sendingdata.location}} </b>
   </div>
   <div class="mt-3">
    <b>Address:</b>&nbsp;&nbsp;<b> {{sendingdata.address}} </b>
   </div>
   <div class="mt-3">
    <b>Type Of Room:</b>&nbsp;&nbsp;<b> {{sendingdata.bhk}} </b>
   </div>
   <div class="mt-3">
    <b>Type Of Home:</b>&nbsp;&nbsp;<b> {{sendingdata.typeRoom}} </b>
   </div>
   <div class="mt-3">
    <b>Availability Status:</b>&nbsp;&nbsp;<b> {{sendingdata.availability}} </b>
   </div>
   <div class="mt-3">
    <b>Near Location Of Home:</b>&nbsp;&nbsp;<b> {{sendingdata.nearLocation}} </b>
   </div>
   <div class="mt-3">
    <b>This Is For:</b>&nbsp;&nbsp;<b> {{sendingdata.typeFamily}} </b>
   </div>
   <div class="mt-3">
    <b>Parking:</b>&nbsp;&nbsp;<b> {{sendingdata.parking}} </b>
   </div>
  </div>
 <br><br><br>
    
<div *ngIf="showOnerDetails" class="clr">
  <h2> Owner Name: {{ownerDetails.firstName}} {{ownerDetails.lastName}}</h2>
  <h2> Mobile No: {{ownerDetails.mobileNo}}</h2>
  <h2> Email Id: {{ownerDetails.email}}</h2>

</div>

<button type="button" 
style="text-align: left;" class="btn btn-info" (click)="showOwnerDetails()">Owner Information</button> 


</div>


  </div>
</div>