/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css"
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.text-center{
    text-align: center;
}
.background-img{
background-image: url("/assets/city.jpg");

}
.mgtop10{
    margin-top: 10px;
}
ul li a:hover{
    color: #ff7200;
}

.org:hover{
    color: #f6790c;
}

.gb{
    color: #144358;
}

.clr{
    color: #f6790c;
}
.bc{
     background-color: #144358; 
    color: rgb(237, 240, 242);
  min-height: 10px;

  
}





.text{
    font-size: 90%;
}